@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte-titulo:'Passion One';
    --fonte-texto:'Sriracha';
}
body{
    background-color: white; 
    
}

header{
    height: 269px;
    background-color: black;
    color: white;
}
header > h1{
    text-align: center;
    font-family: var(--fonte-titulo);
    font-weight: bold;
    font-size: 136px;
    padding-top: 50px;
}
header > p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-bottom: 50px;
}
main{
    font-family: var(--fonte-texto);
    font-size: 47px;
    text-align: left;

}

section{ 
    font-family: var(--fonte-texto);
    font-size: 47px;
    text-align: left;
    padding-bottom: 200px;
}
section > p{
    padding-left: 30px;
    padding-top: 50px;
}
.fundo{
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin: 30px 30px 0% 30px;  
    vertical-align: middle; 
    
}
.imagem1{
    color: white;
    background: black url('../imagens/background001.jpg') center center no-repeat fixed;
}

.imagem2{
    color: white;
    background: black url('../imagens/background002.jpg') center center no-repeat fixed;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}